@page "/"

<PageTitle>Home</PageTitle>

<h1>Flashcard Library</h1>

<p>Welcome to your personal Flashcard Library. To begin, type the word you are looking for in the search box.</p>

<p>
    <input id="input_Search" type="text" @bind="searchTerm" />
    <button id="btn_Search" @onclick="btn_Search_OnClick">Search</button>
</p>

<p>
    <Multiline Value="@flashcard.DisplayData" />
</p>

<p>
    <button id="btn_Delete" @onclick="btn_Reset_OnClick">Reset</button>
</p>
@code {
    private string searchTerm = string.Empty;
    private Flashcard? _flashcard;
    private Flashcard flashcard
    {
        get
        {
            return _flashcard ?? new ("");
        } 
        set
        {
            _flashcard = value;
        }
    }

    private async void btn_Search_OnClick(EventArgs e)
    {
        // call dictionary API to get the JSON result
        Task<Flashcard> getFlashCard = Flashcard.GetFlashCard(true, searchTerm);
        _flashcard = await getFlashCard;
        StateHasChanged();
    }

    private void btn_Reset_OnClick(EventArgs e)
    {
        searchTerm = string.Empty;
        flashcard = new("");
    }

}