@page "/"

<PageTitle>Home</PageTitle>

<h1>Flashcard Library</h1>

<p>Welcome to your personal Flashcard Library. To begin, type the word you are looking for in the search box.</p>


<input id="input_Search" type="text" @bind="searchTerm" />
<button id="btn_Search" @onclick="btn_Search_OnClick">Search</button>

<ul>
    @foreach (var card in flashcards)
    {
        <li>@card.ObjectName</li>
    }
</ul>

@code {
    private string searchTerm = string.Empty;
    private List<Flashcard> flashcards
    {
        get
        {
            var context = new FlashcardContext();
            return context.Flashcard.ToList();
        }
    }

    private void btn_Search_OnClick(EventArgs e)
    {
        // call dictionary API to get the JSON result


        // check duplicate
        if (flashcards.Find(x => x.ObjectName.ToLower() == searchTerm.ToLower()) != null)
        {
            
        }

        // create a flashcard and assign it to the default category
        using (var context = new FlashcardContext())
        {
            Flashcard flashcard = new Flashcard(searchTerm);
            flashcard.Save();
            context.Flashcard.Add(flashcard);
            context.SaveChanges();
        }
    }
}